<a href="https://colab.research.google.com/github/karanSingh10/Hello-World/blob/master/Santander%20Customer%20Satisfaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import Python Packages
#from google.colab import drive
#drive.mount('/content/drive/')

from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
#!cp /content/plot_confusion_matrix.py /content/drive/My\ Drive/CIS508

import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,classification_report, accuracy_score
from sklearn import tree

In [ ]:
#Read training data file
trainfile = r'/gdrive/My Drive/Kaggle/train.csv'
trainData = pd.read_csv(trainfile)

#Read test data file
testfile = r'/gdrive/My Drive/Kaggle/test.csv'
testData = pd.read_csv(testfile)

#Sample answer
samplefile = r'/gdrive/My Drive/Kaggle/sample_submission.csv'
sampleData = pd.read_csv(samplefile)

trainData.head()
#print("=======")
#print("=======")
#testData.head()
#print("=======")
#print("=======")
#sampleData.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [ ]:
trainData.shape
testData.shape

(75818, 370)

In [ ]:
trainData['TARGET'].value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [ ]:
X_train_data = trainData.drop(['TARGET'], axis = 'columns')
Y_train_data = trainData['TARGET']

In [ ]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train_data, Y_train_data)

X_test_pred = clf.predict(testData)

In [ ]:
df1 = testData.iloc[:, 0]
df1

0             2
1             5
2             6
3             7
4             9
          ...
75813    151831
75814    151832
75815    151833
75816    151834
75817    151837
Name: ID, Length: 75818, dtype: int64

In [65]:
dataframe1 = testData.iloc[:, 0]
dataframe2 = pd.DataFrame(X_test_pred)
df1 = testData.iloc[:, 0].tolist()
df2 = X_test_pred.tolist()
#df = pd.DataFrame.append[[df1,df2]]
#type(df1)
#type(df2)
l1 = list(zip(df1,df2))
df = pd.DataFrame(l1,columns =['ID', 'TARGET'] )
#pd.concat([dataframe1, dataframe2],axis=1).to_csv("/gdrive/My Drive/Kaggle/results.csv", index = None)
df.to_csv("/gdrive/My Drive/Kaggle/resultsnew.csv", index = None)